http://www.micro-front.com {
   proxy / localhost:9999 {
        transparent
   }
}

http://react.micro-front.com {
   proxy / localhost:8900 {
        transparent
   }
  cors / {
      origin http://www.micro-front.com
      origin http://localhost:8888
  }
}

http://vue.micro-front.com {
   proxy / localhost:8901 {
        transparent
   }
  cors / {
      origin http://www.micro-front.com
      origin http://localhost:8888
  }
}

http://jquery.micro-front.com {
   proxy / localhost:8902 {
        transparent
   }
  cors / {
      origin http://www.micro-front.com
      origin http://localhost:8888
  }
}